.contacts {
    z-index: 5;
    text-align: center;
    color: $white;
    background: $blue;
    padding: 7.9rem 1rem;

    h2 {
        opacity: 0;
        font-size: 1.8rem;
        font-weight: 700;
        letter-spacing: 1.5px;
        margin-bottom: 2.7rem;

    }

    p {
        opacity: 0;
        letter-spacing: 1.2px;
        margin-bottom: 2.7rem;
    }

    a {
        opacity: 0;
        display: inline-block;
        font-size: 1.2rem;
        font-weight: 300;
        letter-spacing: 1.5px;
        padding: 1rem 4rem;
        background: $orange;
        border: 2px solid $orange;
        transition: all .25s ease-in-out;

        &:hover {
            background: transparent;
            color: $orange;
        }
    }
}

@media (max-width: 600px) {

    .contacts {
        z-index: 5;
        text-align: center;
        color: $white;
        background: $blue;
        padding: 7.9rem 1rem;

        h2 {
            opacity: 0;
            font-size: 1.4rem;
            font-weight: 700;
            letter-spacing: 1.5px;
            margin-bottom: 2.7rem;

        }

        p {
            opacity: 0;
            letter-spacing: 1.2px;
            margin-bottom: 2.7rem;
        }

        a {
            opacity: 0;
            display: block;
            font-size: 1.2rem;
            font-weight: 300;
            letter-spacing: 1.5px;
            padding: 1rem 0;
            background: $orange;
            border: 2px solid $orange;
            transition: all .25s ease-in-out;

            &:hover {
                background: transparent;
                color: $orange;
            }
        }
    }

}